
/* Base Styles ------ */

* {
  box-sizing: border-box;
}

header {
  color: white;
  background-color: black;
  text-transform: uppercase;
  font-size: .88em;
  width: 100%;
  padding-top: .9em;
  padding-bottom: .9em;
}

h1 {
  font-size: 1.5em;
}

h2,
legend {
  font-size: 1.2rem
}

h1,
h2,
legend {
  font-family: 'Source Serif Pro', serif;
}

header,
.banner,
.signup_button,
.footer {
  text-align: center;
}

.banner p,
label,
.footer {
  font-family: 'Merriweather', serif;
  font-size: .8em;
}

main,
.banner {
  margin-left: 5px;
  margin-right: 5px;
}

.banner {
  border-bottom: 5px double black;
}

.banner p{
  color: #99a6b2;
}

fieldset {
  border: none;
  padding-right: 0;
  padding-left: 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  width: 100%;
  height: 50px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: .9em;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
  background-color: white;
}

input::placeholder {
  text-align: right;
  font-style: italic;
  padding-right: 10px;
}

.contact-info label,
.newsletter label,
.footer {
  line-height: 2.5;
  color: #99a6b2;
  font-size: .9em;
}

.newsletter {
  display: flex;
  border-top: 2px solid black;
  margin-top: 12px;
}

.flex {
  display: flex;
  margin-top: 10px;
}

.checkbox {
  background-color: #f2f2f2;
}

textarea {
  width: 100%;
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
  font-size: .8em;
}

button {
  width: 100%;
  height: 60px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  border-radius: 5px;
  background-color: #2eb8b8;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer {
  font-style: italic;
}

@media (min-width: 768px){
  main {
    width: 75%;
    max-width: 1000px;
    margin: auto;
  }

  h1 {
    font-size: 1.8em;
  }

  h2,
  legend {
    font-size: 1.5rem;
  }

  .flex {
    display: flex;
    line-height: 2;
  }

  .contact_input {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px auto;
  }

  .contact_input label {
    flex-basis: 25%;
  }

  .contact_input input,
  .contact-info select {
    flex-basis: 70%;
  }

  #zipcode {
    max-width: 25%;
  }

  .flex label{
    flex-basis: 30%;
    align-items: center;
  }

  .flex {
    margin-top: 20px;
  }
}
